Repository gravicore/terraform-gravicore-modules, pull requests merged in 2021-06, with the labels that each got.

#127 GRVDEV-180 Add MAP Server IDs module that deploys "map35" CloudFormation template
  .github/labeler.yml
  README.md
  aws/map-server-ids/map.tf
  aws/map-server-ids/module.tf
Labels: aws, aws/map-server-ids, github/action

#130 GDEV-183 Add Security Defaults for EC2 Instances, update labeler, upd…
  .github/labeler.yml
  README.md
  aws/security-defaults-ec2/get-ec2-instances.py
  aws/security-defaults-ec2/module.tf
  aws/security-defaults-ec2/scripts/update-ec2-instances.py
  aws/security-defaults-ec2/security-defaults-ec2.tf
Labels: aws, aws/security-defaults-ec2, github/action

#133 GDEV-187 Add access logging, bucket name for access logging, ssl requ…
  aws/s3/s3.tf
Labels: aws, aws/s3

#132 GDEV-184 Create AWS Workspace Optimization Module
  .github/labeler.yml
  README.md
  aws/wco/module.tf
  aws/wco/wco.tf
  aws/workspace-cost-optimizer/module.tf
Labels: aws, aws/wco, enhancement, github/action

#135 GDEV-195 Remove Region Attribute from S3 Bucket Resources Deprecated in AWS Provider v3.16.0
  aws/arctic-wolf/arctic_wolf.tf
  aws/billing/billing.tf
  aws/cicd/cicd.tf
  aws/cloudtrail/cloudtrail.tf
  aws/rds/modules/db-option-group/db-option-group.tf
  aws/s3-cdn/s3-cdn.tf
  aws/s3/s3.tf
Labels: aws, aws/arctic-wolf, aws/billing, aws/cicd, aws/cloudtrail, aws/rds, aws/s3, aws/s3-cdn, bug

#136 GDEV-185 Added vpc vars for adding resources to the vpc
  aws/aviatrix/controller-init/init.tf
Labels: aws, aws/aviatrix, bug

#134 GDEV-190 Created S3 Logging module based on aws/s3 module for storing…
  .github/labeler.yml
  README.md
  aws/s3-log-storage/module.tf
  aws/s3-log-storage/s3-log-storage.tf
Labels: aws, aws/s3-log-storage, github/action
