Repository gravicore/terraform-gravicore-modules, pull requests merged in 2021-05, with the labels that each got.

#124 GDEV-176 Add ability to retroactively add default vpcs to lambda func…
  .github/labeler.yml
  README.md
  aws/security-defaults-lambda/get-lambda-functions.py
  aws/security-defaults-lambda/module.tf
  aws/security-defaults-lambda/scripts/update-functions.py
  aws/security-defaults-lambda/security-defaults-lambda.tf
Labels: aws, aws/security-defaults-lambda, github/action

#125 GDEV-177 Add ability to enable access logs and enable versioning for …
  aws/arctic-wolf/arctic_wolf.tf
  aws/cloudtrail/cloudtrail.tf
  aws/s3-cdn/s3-cdn.tf
Labels: aws, aws/arctic-wolf, aws/cloudtrail, aws/s3-cdn

#128 GDEV-181 Update Parameter module reference in Aviatrix modules
  aws/aviatrix/accounts/accounts.tf
  aws/aviatrix/accounts/module.tf
  aws/aviatrix/controller/backup.tf
  aws/aviatrix/controller/controller.tf
  aws/aviatrix/controller/module.tf
  aws/aviatrix/tgw/module.tf
  aws/aviatrix/tgw/tgw.tf
  aws/aviatrix/tgw/tgw_vpn_connections.tf
  aws/aviatrix/vpn/module.tf
  aws/aviatrix/vpn/profiles.tf
  aws/aviatrix/vpn/vpn.tf
Labels: aws, aws/aviatrix
