Repository gravicore/terraform-gravicore-modules, pull requests merged in 2021-03, with the labels that each got.

#114 GRVDEV-161 Add Artifact Bucket Creation to CICD Module
  aws/cicd/cicd.tf
Labels: aws, aws/cicd, enhancement

#115 GRVDEV-162 apply security default modules to security group default
  .github/labeler.yml
  aws/security-defaults/generate-terragrunt-hcl.py
  aws/security-defaults/module.tf
  aws/security-defaults/security-defaults.tf
  aws/security-defaults/templates/providers.tf
  aws/security-defaults/templates/stage.env.tfvars
  aws/security-defaults/templates/terragrunt.hcl
Labels: aws, aws/security-defaults, github/action

#116 GRVDEV-162 add security defaults module to apply security group defaults
  README.md
Labels: aws, aws/cloudtrail, aws/security-defaults
