Repository gravicore/terraform-gravicore-modules, pull requests merged in 2021-08, with the labels that each got.

#139 GDEV-201 add aws-backup module
  .github/labeler.yml
  .github/workflows/terraform.yml
  README.md
  aws/backup/backup.tf
  aws/backup/module.tf
Labels: aws, github/action, aws/backup

#215 GDEV-205: Merge GDEV-205-update-s3-cdn-module-tls-min-version-default-to-tlsv1-2_2021 to master
  aws/s3-cdn/module.tf
  aws/s3-cdn/s3-cdn.tf
Labels: aws, aws/s3-cdn

#217 GDEV-210 Update Cognito module to use new user pool client token attributes
  aws/cognito/module.tf
  aws/cognito/user-pool.tf
Labels: aws, aws/cognito
