Repository gravicore/terraform-gravicore-modules, pull requests merged in 2021-01, with the labels that each got.

#107 GRVDEV-150 Fix Cognito and VPC module bugs
  .github/workflows/terraform.yml
  aws/cognito/lambda.tf
  aws/vpc/vpc.tf
Labels: aws, aws/cognito, aws/vpc, bug, github/action

#108 GRVDEV-151 Create Aurora Serverless PostgreSQL module
  .github/labeler.yml
  README.md
  aws/aurora-sls-pg/aurora_sls_pg.tf
  aws/aurora-sls-pg/module.tf
Labels: aws, aws/aurora-sls-pg, enhancement, github/action

#105 GRVDEV-146 Create Terraform S3 module
  .github/labeler.yml
  README.md
  aws/s3/module.tf
  aws/s3/s3.tf
Labels: aws, aws/s3, github/action

#106 GRVDEV-147 Create Terraform ECS module
  .github/labeler.yml
  .gitignore
  README.md
  aws/alb/alb.tf
  aws/camunda/java/api/Dockerfile
  aws/camunda/java/api/pom.xml
  aws/camunda/java/api/src/main/java/io/gravicore/api/Application.java
  aws/camunda/java/api/src/main/java/io/gravicore/api/security/WebSecurityConfig.java
  aws/camunda/java/api/src/main/java/io/gravicore/api/security/jwt/JwtRequestFilter.java
  aws/camunda/java/api/src/main/java/io/gravicore/api/security/jwt/JwtUnauthorized.java
  aws/camunda/java/api/src/main/java/io/gravicore/api/security/jwt/JwtValidator.java
  aws/camunda/java/api/src/main/resources/META-INF/processes.xml
  aws/camunda/java/api/src/main/resources/application.yaml
  aws/camunda/java/app/Dockerfile
  aws/camunda/java/app/README.md
  aws/camunda/java/app/pom.xml
  aws/camunda/java/app/src/main/java/io/gravicore/app/Application.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/cognito/client/CognitoIdentityServiceClient.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/cognito/client/impl/CognitoIdentityServiceClientImpl.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/cognito/model/CognitoGroup.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/cognito/model/CognitoUser.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/config/CognitoConfig.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/controller/LogoutController.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/CustomIdentityProviderPlugin.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/entity/CustomGroup.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/entity/CustomUser.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/plugin/CustomGroupQuery.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/plugin/CustomIdentityProvider.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/plugin/CustomIdentityProviderFactory.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/plugin/CustomTenantQuery.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/plugin/CustomUserQuery.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/plugin/Pagination.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/service/GroupService.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/custom/service/UserService.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/security/WebAppSecurityConfig.java
  aws/camunda/java/app/src/main/java/io/gravicore/app/security/WebAppSecurityProvider.java
  aws/camunda/java/app/src/main/resources/META-INF/processes.xml
  aws/camunda/java/app/src/main/resources/META-INF/resources/webjars/camunda/app/admin/custom/logout.js
  aws/camunda/java/app/src/main/resources/META-INF/resources/webjars/camunda/app/admin/scripts/config.js
  aws/camunda/java/app/src/main/resources/META-INF/resources/webjars/camunda/app/cockpit/custom/logout.js
  aws/camunda/java/app/src/main/resources/META-INF/resources/webjars/camunda/app/cockpit/scripts/config.js
  aws/camunda/java/app/src/main/resources/META-INF/resources/webjars/camunda/app/tasklist/custom/logout.js
  aws/camunda/java/app/src/main/resources/META-INF/resources/webjars/camunda/app/tasklist/scripts/config.js
  aws/camunda/java/app/src/main/resources/META-INF/resources/webjars/camunda/app/welcome/custom/logout.js
  aws/camunda/java/app/src/main/resources/META-INF/resources/webjars/camunda/app/welcome/scripts/config.js
  aws/camunda/java/app/src/main/resources/application.yaml
  aws/camunda/module/camunda.tf
  aws/camunda/module/module.tf
  aws/datadog/ecs/datadog.tf
  aws/datadog/ecs/module.tf
  aws/ecs/ecs.tf
  aws/ecs/module.tf
Labels: aws, aws/alb, aws/camunda, aws/ecs, github/action

#110 GRVDEV-147 Fixing modules references
  aws/camunda/module/camunda.tf
Labels: aws, aws/camunda
