Repository gravicore/terraform-gravicore-modules, pull requests merged in 2021-04, with the labels that each got.

#117 GRV-165 Allow creation of IAG groups from account-roles module to be optional
  aws/account-roles/iam-auditors.tf
  aws/account-roles/iam-billing-viewers.tf
  aws/account-roles/iam-developers.tf
  aws/account-roles/iam-devops.tf
  aws/account-roles/module.tf
Labels: aws, aws/account-roles

#118 GRVDEV-167 Add Ability to Inject WAF logs
  aws/arctic-wolf/arctic_wolf.tf
  aws/cloudtrail/cloudtrail.tf
Labels: aws, aws/arctic-wolf, aws/cloudtrail, enhancement

#120 GRVDEV-167 Add Ability to Inject WAF logs to Arctic Wolf Module
  aws/arctic-wolf/arctic_wolf.tf
Labels: aws, aws/arctic-wolf, bug

#119 GRVDEV-168 Move User Inline Polices to Group Policies
  aws/cicd/cicd.tf
  aws/cognito/identity-pool.tf
  aws/cognito/service-account.tf
Labels: aws, aws/cicd, aws/cognito

#122 GDEV-173 add ability to delete default vpcs and associated resources
  aws/security-defaults/generate-terragrunt-hcl.py
  aws/security-defaults/scripts/delete-vpcs.py
  aws/security-defaults/security-defaults.tf
  aws/security-defaults/templates/stage.env.tfvars
  aws/security-defaults/templates/terragrunt.hcl
Labels: aws, aws/security-defaults

#123 GDEV-174 Add an additional IsDefault (VPC) check when generating HCLs
  aws/security-defaults/generate-terragrunt-hcl.py
  aws/security-defaults/scripts/delete-vpcs.py
Labels: aws, aws/security-defaults
