Repository gravicore/terraform-gravicore-modules, pull requests merged in 2021-07, with the labels that each got.

#131 GDEV-186 Update S3 Module to Include Bucket Inventory Resource
  aws/s3/s3_bucket_inventory.tf
Labels: aws, aws/s3, enhancement

#129 GDEV-182 Add security default module for recommended s3 fixes, update…
  .github/labeler.yml
  README.md
  aws/arctic-wolf/arctic_wolf.tf
  aws/cloudtrail/cloudtrail.tf
  aws/s3-cdn/s3-cdn.tf
  aws/security-defaults-s3/get-s3-buckets.py
  aws/security-defaults-s3/module.tf
  aws/security-defaults-s3/scripts/update-s3-buckets.py
  aws/security-defaults-s3/security-defaults-s3.tf
Labels: aws, aws/arctic-wolf, aws/cloudtrail, aws/s3-cdn, aws/security-defaults-s3, github/action

#137 GDEV-191 create dfs and fsx modules
  .github/labeler.yml
  README.md
  aws/dfs/dfs.tf
  aws/dfs/module.tf
  aws/fsx/fsx.tf
  aws/fsx/module.tf
Labels: aws, aws/dfs, aws/fsx, github/action
