Repository gravicore/terraform-gravicore-modules, pull requests merged in 2022-05, with the labels that each got.

#238 GDEV-233 Added tags to ECR repository
  aws/ecr/ecr.tf
Labels: aws, aws/ecr

#240 GDEV-234 Added Regions and Terminate Workspaces options
  aws/wco/wco.tf
Labels: aws, aws/wco

#241 GDEV-230 Create Directory Service Module
  .github/labeler.yml
  aws/ds/ds.tf
  aws/ds/module.tf
Labels: aws, github/action, aws/ds

#242 GDEV-229 Create WorkSpaces Module
  .github/labeler.yml
  README.md
  aws/wrkspcs/directory.tf
  aws/wrkspcs/module.tf
  aws/wrkspcs/workspaces.tf
Labels: aws, github/action, aws/wrkspcs

#245 GDEV-235 Update Cognito Module to Resolve Account Recovery Creation Change
  aws/cognito/user-pool.tf
Labels: aws, aws/cognito

#247 GDEV-236 Update Aurora Module to fix LifeCycle Versioning Issue
  aws/aurora-sls-pg/aurora_sls_pg.tf
  aws/rds-postgres/db.tf
  aws/rds-postgres/modules/db-instance/db-instance.tf
Labels: aws/rds-postgres, aws, aws/aurora-sls-pg
