Repository gravicore/terraform-gravicore-modules, pull requests merged in 2024-04, with the labels that each got.

#366 GDEV-355 set defaults to null
  aws/rds-postgres/db.tf
Labels: aws/rds-postgres, aws

#369 GDEV-359 Add the ability for an SNS topic to be defined for notification of log file delivery to the cloudtrail module
  aws/cloudtrail/cloudtrail.tf
Labels: aws, aws/cloudtrail

#370 GDEV-360 Update Cognito module to add user_attribute_update_settings
  aws/cognito/user-pool.tf
Labels: aws, aws/cognito
